/* Here below you should make your changes */

/* Hjörtur Jóhann Vignisson og Ívar Kristinn Hallsson */

@keyframes static {
    /* Insert your changes */
    from {
        background-image: url("./resources/tv.png"),
        linear-gradient(90deg,
        white 0%,
        white 12.5%,
        yellow 12.5%, 
        yellow 25%, 
        cyan 25%, 
        cyan 37.5%, 
        green 37.5%, 
        green 50%, 
        purple 50%, 
        purple 62.5%,
        red 62.5%, 
        red 75%, 
        blue 75%, 
        blue 87.5%, 
        black 87.5%,
        black 100%);
        background-size: contain, 335px 250px;
        background-position: 0 0, 20% 35%;
        background-repeat: no-repeat;
    }
    to {
        background-image: url("./resources/tv.png"),
        linear-gradient(90deg,
        black 0%,
        black 12.5%,
        blue 12.5%, 
        blue 25%, 
        red 25%, 
        red 37.5%, 
        purple 37.5%, 
        purple 50%, 
        green 50%, 
        green 62.5%,
        cyan 62.5%, 
        cyan 75%, 
        yellow 75%, 
        yellow 87.5%, 
        white 87.5%,
        white 100%);
        background-size: contain, 335px 250px;
        background-position: 0 0, 20% 35%;
        background-repeat: no-repeat;
    }
}

@keyframes level-1 {
    /* Insert your changes */
    0% { background-position: 0 0, 7px 40px; }
    100% { background-position: 0 0, -2920px 40px; }
}

@keyframes move-cartridge {
    /* Insert your changes */
    0% { 
        transform: translate(0px, 0px) perspective(100px) rotateX(45deg) rotateZ(30deg);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% { 
        transform:  translate(150px, -350px) perspective(100px) rotateX(45deg) rotateZ(30deg); 
        opacity: 0;
    }
}

.intro {
    /* Insert your changes */
    background-image: url("./resources/tv.png"), url("./resources/intro.png");
    background-size: contain, 335px 250px;
    background-position: 0 0, 25% 35%;
    background-repeat: no-repeat;
}

.level-1 {
    /* Insert your changes */
    background-image: url("./resources/tv.png"), url("./resources/stage1.png");
    background-size: contain, auto;
    background-position: 0 0, 7px 40px;
    background-repeat: no-repeat;
    animation: level-1 20s linear 0s 1 normal forwards running;
}

.static {
    /* Insert your changes */
    animation: static 2s linear 0s infinite alternate forwards;
}

.move-cartridge {
    /* Insert your changes */
    animation: move-cartridge 2s ease-in-out 0s 1 normal forwards;
}

#television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
}

#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("./resources/nes.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#nes-cartridge {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 300px;
    bottom: 0px;
    background-image: url("./resources/contra-cartridge.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: perspective(100px) rotateX(45deg) rotateZ(30deg);
}
