body {
    background-color: black;
}

.navigation-bar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
    box-shadow: 5px 5px 10px 2px rgb(77, 129, 77);
}

.navbar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
}
.nav-link {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.nav-link:hover {
    color: lime;
}


.home-page {
    margin-top: 4%;
    width: 40%;
    height: 20%;
    background-color: black;
    color: white;
    margin-left: 10%;
}

.home-page h1 {
    color: lime;
    box-shadow: 5px 5px 10px 2px rgb(77, 129, 77);
    text-shadow: 5px 5px rgb(77, 129, 77);
}

.nav-link {
   padding-left: 10px;
}

input {
    background-color: lime;
    color: black;
    border-color: lime;
    font-size: 20px;
    margin: 4px;
    box-shadow: 5px 5px 10px 2px rgb(77, 129, 77);
    margin-bottom: 25px;
}

::placeholder {
    color: black;
}

.form-bosses h1 {
    text-shadow: 5px 5px rgb(77, 129, 77);
}
.form-bosses {
    box-shadow: 5px 5px 10px 2px rgb(77, 129, 77);
    padding-left: 40px;
}