body {
    background-color: black;
}

.navigation-bar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
}

.navbar {
    background-color: black;
    display: block;
    height: 75px;
    border-bottom: solid 2px black;
}
.nav-link {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.nav-link:hover {
    color: lime;
}

.home-logo {
    margin-left: 50px;
}

.home-page {
    width: 40%;
    height: 20%;
    background-color: black;
    color: white;
    margin-left: 10%;
}

.home-page h1 {
    color: lime;
}

.nav-link {
    padding: 10px;
}
